:root {
    --color-bg: #282828;
    --color-fg: #EADBB2;
    --color-link: #8F9191;
    --color-link-visited: #668F8B;
    --color-link-hover: #FA7921 ;
}

html, body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: "Fira Code";
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.links a.highlight {
    color: #FA7921  /* Change this to your preferred highlight color */
}

.container {
  display: grid;
  grid-template-columns: 1fr 460px 600px 1fr;
  grid-template-areas:
    ". left right .";
  column-gap: 80px;
  justify-items: center;
  align-items: center;
  min-height: 100%;
}

.left-container {
  grid-area: left;
  display: flex;
  justify-content: center;
  align-items: center;
}   

.right-container {
  grid-area: right;
  height: 50%;
  width: 100%;
}

.gif {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.gif img {
  max-width: 100%;
  max-height: 100%;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  padding-top: 60px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
}

.bookmarks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  font-size: 20px;
}

li {
  font-size: 16px;
  list-style-type: none;
  padding: 5px;
}

a {
  white-space: nowrap; /* Prevents text from wrapping */
}

a:link {
  text-decoration: none;
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

a:hover {
  color: var(--color-link-hover);
}

.links a.highlight {
    color: #FA7921  /* Change this to your preferred highlight color */
}

.blinking {
  animation: opacity 1s ease-in-out infinite;
  opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .head {
    font-size: 30px;
    padding-top: 10px; /* Reduced padding-top */
    margin: 0; /* Ensure no extra margin */
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "left"
      "right"
      "bookmarks";
    row-gap: 0; /* Removed row-gap */
    padding: 0 20px; /* Added padding to create gap on left and right sides */
    justify-items: center;
    align-items: start; /* Align items to the start */
  }

  .left-container {
    grid-area: left;
    width: 100%;
    margin: 0; /* Removed margin */
    padding: 0; /* Removed padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items to the start */
  }

  .right-container {
    grid-area: right;
    width: 100%;
    text-align: center;
    margin: 0; /* Removed margin */
    padding: 0; /* Removed padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items to the start */
  }

  .bookmarks {
    grid-area: bookmarks;
    grid-template-columns: repeat(2, 1fr); /* Adjusted to 2 columns */
    gap: 10px; /* Reduced gap between columns */
    justify-items: center;
    width: 100%;
  }

  .gif {
    display: flex;
    padding: 0; /* Removed padding */
    margin: 40px 0 10px 0; /* Added margin-top to create gap */
    align-items: flex-start; /* Align items to the start */
  }

  .gif img {
    max-width: 40%; /* Adjust the size of the GIF */
    max-height: 40%; /* Adjust the size of the GIF */
  }
}

@media (max-width: 768px) {
  .head {
    font-size: 30px;
    padding-top: 30px;
  }

  .title {
    font-size: 18px;
  }

  li {
    font-size: 14px;
  }

  .bookmarks {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .gif {
    display: none;
  }

  .links {
    align-items: center;
  }
}
